footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 1em 2em;
    .copyrights{
        p{
            color: var(--white);
            opacity: .25;
        }
    }
    .dark-light{
        .fa-solid{
            cursor: pointer;
            transition: color .5s;
        }
        .dark{
            color: var(--white);
        }
        .light{
            color: var(--back-dark);
        }
    }
}